version: "3.9"

services:
  go:
    build: .
    container_name: go-dev
    working_dir: /workspace
    volumes:
      - .:/workspace
    ports:
      - "8080:8080"  
      
    tty: true
    stdin_open: true